<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/logo.css">
  </head>
  <body>
    <div class="logo-div" style="width: 600px;height: 600px;">
      <%include logo %>
    </div>
  </body>
  <script src="/javascripts/logoanim.js"></script>
</html>
